In [132]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from skimage.io import imread
from skimage.feature import local_binary_pattern
import scipy.linalg as la

theFile = pd.read_csv("full_df.csv")
theFile

,ID,Patient Age,Patient Sex,Left-Fundus,Right-Fundus,Left-Diagnostic Keywords,Right-Diagnostic Keywords,N,D,G,C,A,H,M,O,filepath,labels,target,filename
0,0,69,Female,0_left.jpg,0_right.jpg,cataract,normal fundus,0,0,0,1,0,0,0,0,../input/ocular-disease-recognition-odir5k/ODI...,['N'],"[1, 0, 0, 0, 0, 0, 0, 0]",0_right.jpg
1,1,57,Male,1_left.jpg,1_right.jpg,normal fundus,normal fundus,1,0,0,0,0,0,0,0,../input/ocular-disease-recognition-odir5k/ODI...,['N'],"[1, 0, 0, 0, 0, 0, 0, 0]",1_right.jpg
2,2,42,Male,2_left.jpg,2_right.jpg,laser spot，moderate non proliferative retinopathy,moderate non proliferative retinopathy,0,1,0,0,0,0,0,1,../input/ocular-disease-recognition-odir5k/ODI...,['D'],"[0, 1, 0, 0, 0, 0, 0, 0]",2_right.jpg
3,4,53,Male,4_left.jpg,4_right.jpg,macular epiretinal membrane,mild nonproliferative retinopathy,0,1,0,0,0,0,0,1,../input/ocular-disease-recognition-odir5k/ODI...,['D'],"[0, 1, 0, 0, 0, 0, 0, 0]",4_right.jpg
4,5,50,Female,5_left.jpg,5_right.jpg,moderate non proliferative retinopathy,moderate non proliferative retinopathy,0,1,0,0,0,0,0,0,../input/ocular-disease-recognition-odir5k/ODI...,['D'],"[0, 1, 0, 0, 0, 0, 0, 0]",5_right.jpg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6387,4686,63,Male,4686_left.jpg,4686_right.jpg,severe nonproliferative retinopathy,proliferative diabetic retinopathy,0,1,0,0,0,0,0,0,../input/ocular-disease-recognition-odir5k/ODI...,['D'],"[0, 1, 0, 0, 0, 0, 0, 0]",4686_left.jpg
6388,4688,42,Male,4688_left.jpg,4688_right.jpg,moderate non proliferative retinopathy,moderate non proliferative retinopathy,0,1,0,0,0,0,0,0,../input/ocular-disease-recognition-odir5k/ODI...,['D'],"[0, 1, 0, 0, 0, 0, 0, 0]",4688_left.jpg
6389,4689,54,Male,4689_left.jpg,4689_right.jpg,mild nonproliferative retinopathy,normal fundus,0,1,0,0,0,0,0,0,../input/ocular-disease-recognition-odir5k/ODI...,['D'],"[0, 1, 0, 0, 0, 0, 0, 0]",4689_left.jpg
6390,4690,57,Male,4690_left.jpg,4690_right.jpg,mild nonproliferative retinopathy,mild nonproliferative retinopathy,0,1,0,0,0,0,0,0,../input/ocular-disease-recognition-odir5k/ODI...,['D'],"[0, 1, 0, 0, 0, 0, 0, 0]",4690_left.jpg
6391,4784,58,Male,4784_left.jpg,4784_right.jpg,hypertensive retinopathy，age-related macular d...,hypertensive retinopathy，age-related macular d...,0,0,0,0,1,1,0,0,../input/ocular-disease-recognition-odir5k/ODI...,['H'],"[0, 0, 0, 0, 0, 1, 0, 0]",4784_left.jpg

In [133]:
theFile.rename(columns = {"labels": "target_diagnoses"}, inplace=True)
theFile["test_diagnoses"] = ""

In [134]:
for row in theFile.itertuples():
    current = theFile.at[row[0], 'test_diagnoses']
    if(row[8] == 1):
        theFile.at[row[0], 'test_diagnoses'] = 'N' + current 
        current = theFile.at[row[0], 'test_diagnoses']
    if(row[9] == 1):
        theFile.at[row[0], 'test_diagnoses'] = 'D' + current 
        current = theFile.at[row[0], 'test_diagnoses']
    if(row[10] == 1):
        theFile.at[row[0], 'test_diagnoses'] = 'G' + current 
        current = theFile.at[row[0], 'test_diagnoses']
    if(row[11] == 1):
        theFile.at[row[0], 'test_diagnoses'] = 'C' + current 
        current = theFile.at[row[0], 'test_diagnoses']
    if(row[12] == 1):
        theFile.at[row[0], 'test_diagnoses'] = 'A' + current 
        current = theFile.at[row[0], 'test_diagnoses']
    if(row[13] == 1):
        theFile.at[row[0], 'test_diagnoses'] = 'H' + current 
        current = theFile.at[row[0], 'test_diagnoses']
    if(row[14] == 1):
        theFile.at[row[0], 'test_diagnoses'] = 'M' + current 
        current = theFile.at[row[0], 'test_diagnoses']
    if(row[15] == 1):
        theFile.at[row[0], 'test_diagnoses'] = 'O' + current 
        current = theFile.at[row[0], 'test_diagnoses']

        
data_drop = theFile.drop(['Left-Diagnostic Keywords', 'Right-Diagnostic Keywords', 'filepath', 'target', 'N', 'G', 'C','D', 'A', 'H', 'M', 'O', 'Left-Fundus', 'Right-Fundus'], axis=1)

In [135]:
theFile.to_csv(r'/Users/youssef/Desktop/CurratedOccularData.csv')
test_diagnoses = data_drop[["test_diagnoses"]]
test_diagnoses

     test_diagnoses
0                 C
1                 N
2                OD
3                OD
4                 D
...             ...
6387              D
6388              D
6389              D
6390              D
6391             HA

[6392 rows x 1 columns]

In [136]:
data_drop = data_drop.drop(["test_diagnoses"], axis=1)
data_drop

        ID  Patient Age Patient Sex target_diagnoses       filename
0        0           69      Female            ['N']    0_right.jpg
1        1           57        Male            ['N']    1_right.jpg
2        2           42        Male            ['D']    2_right.jpg
3        4           53        Male            ['D']    4_right.jpg
4        5           50      Female            ['D']    5_right.jpg
...    ...          ...         ...              ...            ...
6387  4686           63        Male            ['D']  4686_left.jpg
6388  4688           42        Male            ['D']  4688_left.jpg
6389  4689           54        Male            ['D']  4689_left.jpg
6390  4690           57        Male            ['D']  4690_left.jpg
6391  4784           58        Male            ['H']  4784_left.jpg

[6392 rows x 5 columns]

In [137]:
target = data_drop[["target_diagnoses"]]
data_drop = data_drop.drop(["target_diagnoses"], axis=1)
target

     target_diagnoses
0               ['N']
1               ['N']
2               ['D']
3               ['D']
4               ['D']
...               ...
6387            ['D']
6388            ['D']
6389            ['D']
6390            ['D']
6391            ['H']

[6392 rows x 1 columns]

In [138]:
picture_file = data_drop[['filename']]
data_drop = data_drop.drop(["filename"], axis=1)
data_drop

        ID  Patient Age Patient Sex
0        0           69      Female
1        1           57        Male
2        2           42        Male
3        4           53        Male
4        5           50      Female
...    ...          ...         ...
6387  4686           63        Male
6388  4688           42        Male
6389  4689           54        Male
6390  4690           57        Male
6391  4784           58        Male

[6392 rows x 3 columns]

In [139]:
picture_file

           filename
0       0_right.jpg
1       1_right.jpg
2       2_right.jpg
3       4_right.jpg
4       5_right.jpg
...             ...
6387  4686_left.jpg
6388  4688_left.jpg
6389  4689_left.jpg
6390  4690_left.jpg
6391  4784_left.jpg

[6392 rows x 1 columns]

In [140]:
import numpy as np 
from sklearn.model_selection import train_test_split

#get a list of columns in pandas object 
names_of_data = data_drop.columns.tolist()

#shuffle = false prevents data split being different everytime
X_train, X_test, y_train, y_test = train_test_split(data_drop, group, test_size=0.2, shuffle = False)

#split test into validate and test, again making sure the data is always the same for consistency
##X_train, X_val, y_train, y_val = train_test_split(X_test, y_test, test_size=0.25, shuffle = False)

### Pulling photos in.

In [ ]:
# Path to the files
path = './images/'
# Two arrays for the images
trainingEyes = []
trainingEyes = []
n_training_images = 30
n_testing_images = 10
# Filling the arrays
for imageId in range(1, n_training_images+1):
    #img = imread(path + "ATT dataset/s%d/%d.pgm" % (subjectId, imageId), as_gray=True)
    lbp = local_binary_pattern(img, 12, 3)
    trainingEyes.append(np.reshape(lbp, (img.size,)))
    #trainingEyes.append(subjectId)
for imageId in range(n_training_images+1, n_training_images+n_test_images+1):
    #img = imread(path + "ATT dataset/s%d/%d.pgm" %(subjectId, imageId), as_gray=True)
    lbp = local_binary_pattern(img, 12, 3)
    testingEyes.append(np.reshape(lbp, (img.size,)))
    #testingEyes.append(subjectId)