In [1]:
import pandas as pd 

data = pd.read_csv("../data/2008_births.csv")
data

,INST,RPLACE,RCOUNTY,PLURAL,BDATE,BMONTH,BDAY,BYEAR,SEX,RACE,...,MOTHERTR,IANEMIA,BINJURY,FAS,HYALINE,ASPIRATE,VENTLESS,VENTMORE,ISEIZURE,OTHINF
0,1,6800,68,1,2008-01-01,1,1,2008,2,1,...,2,0,0,0,0,0,0,0,0,0
1,1,160,1,1,2008-01-02,1,2,2008,2,2,...,2,0,0,0,0,0,0,0,0,0
2,1,190,1,1,2008-01-02,1,2,2008,1,1,...,2,0,0,0,0,0,0,0,0,0
3,1,4100,41,1,2008-01-03,1,3,2008,2,1,...,2,0,0,0,0,0,0,0,0,0
4,1,160,1,1,2008-01-03,1,3,2008,2,1,...,2,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133417,1,2000,20,1,2008-12-19,12,19,2008,1,1,...,2,9,9,9,9,9,9,9,9,9
133418,1,2000,20,1,2008-12-22,12,22,2008,2,1,...,2,9,9,9,9,9,9,9,9,9
133419,1,2600,26,1,2008-12-26,12,26,2008,1,1,...,2,9,9,9,9,9,9,9,9,9
133420,1,2000,20,1,2008-12-30,12,30,2008,2,1,...,2,9,9,9,9,9,9,9,9,9
133421,1,8100,81,1,2008-12-31,12,31,2008,1,0,...,2,9,9,9,9,9,9,9,9,9

In [2]:
import numpy as np 
from sklearn.model_selection import train_test_split

In [3]:
#birthweight is what we want to predict - change this to single target 
birth_weight = data[['BPOUND', 'BOUNCE']] 
birth_weight = birth_weight.assign(total_weight = lambda x: birth_weight['BPOUND'] + (birth_weight['BOUNCE']/16))
birth_weight = birth_weight.drop(['BPOUND', 'BOUNCE'], axis = 1) 
birth_weight

        total_weight
0             4.0625
1             8.1875
2             9.0000
3             7.3750
4             9.4375
...              ...
133417        6.5000
133418        9.1250
133419        8.4375
133420        5.8125
133421        7.1875

[133422 rows x 1 columns]

In [4]:
#PCA might be a good technique to select predictors 

#note that PCA performs best when data is normalized (range b/w 0 and 1)

#It is possible to use categorical and continuous predictors 
#for a regression problem. My understanding is you need to make 
#dummy variables for the binary predictors. 

#Variables that we will need to deal with: 
# BDATE, HISPMOM, HISPDAD

In [5]:
#Attempting PCA on data
#for now I drop the BDATE, HISPMOM AND HISPDAD
data_drop = data.drop(["BDATE", "HISPMOM", "HISPDAD", "BOUNCE", "BPOUND"], axis = 1) #axis = 1 means to drop column not row

In [22]:
#get a list of columns in pandas object 
names_of_data = data_drop.columns.tolist()

#shuffle = false prevents data split being different everytime
X_train, X_test, y_train, y_test = train_test_split(data_drop, birth_weight, test_size = 0.3, shuffle = False)

#split test into validate and test, again making sure the data is always the same for consistency
##X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.25, shuffle = False)

#Normalizing the data
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

#running the actual PCA
from sklearn.decomposition import PCA

pca = PCA()
X_train = pca.fit_transform(X_train)
X_test = pca.transform(X_test)

#relief f algorithm - sorting features

In [23]:
explained_variance = pca.explained_variance_ratio_
print(len(explained_variance))
print(explained_variance)

120
[5.28078830e-02 3.90231940e-02 3.09606344e-02 2.83696871e-02
 2.48838895e-02 2.13485704e-02 1.84691865e-02 1.78102935e-02
 1.75159479e-02 1.66007835e-02 1.63948845e-02 1.44764255e-02
 1.34662532e-02 1.17390685e-02 1.13914228e-02 1.11685353e-02
 1.09190768e-02 1.08732854e-02 1.05744880e-02 1.05085106e-02
 1.03343190e-02 1.01968131e-02 1.00430350e-02 9.81870185e-03
 9.71843683e-03 9.61907735e-03 9.59449861e-03 9.47179817e-03
 9.39833174e-03 9.37166159e-03 9.26189322e-03 9.22240392e-03
 9.12119207e-03 9.09687599e-03 9.04369016e-03 8.96120081e-03
 8.95035487e-03 8.91923929e-03 8.88347336e-03 8.81598861e-03
 8.79758882e-03 8.78741994e-03 8.75977982e-03 8.72903198e-03
 8.64506304e-03 8.61604646e-03 8.59983807e-03 8.58138133e-03
 8.56813108e-03 8.51952508e-03 8.46395625e-03 8.41648285e-03
 8.39105102e-03 8.36769188e-03 8.31781370e-03 8.28160000e-03
 8.21673481e-03 8.15333410e-03 8.08084545e-03 8.04701751e-03
 8.02811786e-03 7.94747295e-03 7.89804438e-03 7.86257546e-03
 7.78535496e-03 7.73137720e-03 7.70722776e-03 7.59820327e-03
 7.55853332e-03 7.49303343e-03 7.45065875e-03 7.38279362e-03
 7.28207312e-03 7.17739231e-03 7.07667188e-03 7.00842945e-03
 6.91314829e-03 6.83794682e-03 6.71267215e-03 6.63001276e-03
 6.49054460e-03 6.37730468e-03 6.28692703e-03 6.20340821e-03
 5.90733751e-03 5.72807465e-03 5.62470057e-03 5.53035428e-03
 5.44818853e-03 5.06230926e-03 4.78755130e-03 4.54824162e-03
 4.43345305e-03 4.34440035e-03 3.94297186e-03 3.87196444e-03
 3.36677514e-03 3.24032359e-03 2.66208882e-03 2.52074479e-03
 1.91540086e-03 1.80920843e-03 1.41887337e-03 1.00016404e-03
 8.00947025e-04 6.52574223e-04 6.37388140e-04 3.99783625e-04
 2.30033902e-04 1.90840961e-04 4.21090969e-08 1.04145186e-32
 2.80467508e-33 1.36654895e-33 5.74664289e-34 3.23476033e-34
 3.00163157e-34 3.00163157e-34 3.00163157e-34 1.66752714e-34]

In [24]:
#Explained variance prints the variance each principal component contributes.
#As we can see, the last 5 contribute very little (maybe we can get rid of?)

#We also want to check for linearity between the input predictors and the output 
#If there is high colinearity, then we want to use ridge regression - A variant of lin regression that has regulatization

#Correlation indicates strength and direction of a linear relationship. let's use this on the predictors

In [30]:
from sklearn.linear_model import Ridge

rr = Ridge(alpha = 1.0)

In [31]:
rr.fit(X_train, y_train)

Ridge()

In [32]:
y_pred = rr.predict(X_test)
y_pred

array([[ 7.22753045],
       [ 7.20978981],
       [ 7.21724354],
       ...,
       [12.7359363 ],
       [10.53378616],
       [11.65627366]])

In [33]:
y_test

        total_weight
26684         7.5000
26685         7.0000
26686         7.3750
26687         8.5625
26688         4.8750
...              ...
133417        6.5000
133418        9.1250
133419        8.4375
133420        5.8125
133421        7.1875

[106738 rows x 1 columns]

In [34]:
from sklearn.metrics import mean_squared_error as mse
mse(y_test, y_pred)

0.1412431166781336